#!/usr/bin/env bash
# Copia este archivo a scripts/env-pro.sh y rellena tus valores locales.

export PROXMOX_VE_ENDPOINT="https://PROXMOX_PRO_IP:8006/"
export PROXMOX_VE_API_TOKEN="USUARIO@pve!terraform=TOKEN_PRO"
export TF_VAR_proxmox_ssh_password="PASSWORD_ROOT_PRO"
export TF_VAR_proxmox_node="proxmoxpro01"
